<h1>Categories</h1>

  <% @categorys.each do |c| %>
  <ul>
    <li>
    Name: <%= c.name %><br>
    <%= link_to 'Edit', edit_category_path(c), class: 'btn btn-default btn-xs'%>
    </li>
  </ul>
  <% end %>

<%= link_to 'Create New Category', new_category_path, class: 'btn btn-info btn-xs'%>
